@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-gb-sidebar: #1E293B;
  --color-gb-bg: #F0F2F5;
  --color-gb-primary: #3B82F6;
  --color-gb-border: #E2E8F0;
  --color-gb-text-dark: #1E293B;
  --color-gb-text-muted: #64748B;
}
